* {
    margin: 0;
    padding: 0;
}
.threepics {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 10px 10px;
}
.blackdress {
    width: 180pt;
    height: 150pt;
    padding: 5px 5px;
}
.whitedress {
    width: 180pt;
    height: 150pt;
    padding: 5px 5px;
}
.barbiecrew {
    width: 180pt;
    height: 150pt;
    padding: 5px 5px;
}
.imgbanner {
    width: 100%;
}
.imginfo {
    width: 100%;
}
.imginfo h2 {
    padding: 30px 30px 20px;
    text-align: center;
    font-family: arial;
    font-size: 19px;
    color: #000;
    background-color: #F8C9EA;
    line-height: 16px;
}
.imginfo p {
    padding: 0px 30px 20px;
    font-family: arial;
    font-size: 16px;
    color: #000;
    line-height: 24px;
}
.imgbarbiecrew {
    width: 100%
}
@media only screen and (min-width: 768px) {
    .imgbarbiecrew {
        display: none;
    }
}